sudo: false
language: node_js
cache:
  directories:
    - node_modules
node_js:
  - "node"
  - "6"
  - "4"
script:
  - npm run cover
branches:
  only:
    - master
    - travis
after_success:
  - cat ./coverage/lcov.info | node_modules/.bin/coveralls --verbose
  - cat ./coverage/coverage.json | node_modules/codecov.io/bin/codecov.io.js
  - rm -rf ./coverage
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
